/* HEADER ANIMATION */

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  letter-spacing: 1px;
  font-size: 14px;
  display: table;
}

.header {
  position: relative;
  text-align: center;
  color: white;
}

.headerText {
  font-size: 150%;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  width: 100%;
  margin: 0;
  padding: 61px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}

.waves {
  width: 100%;
  margin-top: -1px !important;
  min-height: 71px;
  max-height: 55px;
}

.waves2 {
  width: 100%;
  min-height: 71px;
  max-height: 55px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-128px, 0, 0);
  }

  100% {
    transform: translate3d(50px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}