/* ---------- RESPONSIVE ---------- */

/* Desktop */
@media only screen and (min-width: 1024px) {

  /* HEADER */

  #screen {
    width: 50%;
    max-width: 70%;
  }

  .menu {
    width: 65% !important;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .inner-header {
    width: 100%;
    margin: 0;
    padding: 135px !important;
  }

  .waves {
    height: 28vh !important;
    margin-top: 2px !important;
  }

  .blog {
    width: 280px !important;
  }

  .containerBlogs {
    margin-top: 5rem !important;
    text-align: center !important;
    align-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 95%;
    align-content: center !important;
    justify-content: center !important;
    align-items: baseline !important;
    margin: 38px !important;
    transition: all 0.4s ease-in-out !important;
    justify-content: center !important;
  }

}

/* Tablets */
@media only screen and (min-width: 768px) {


  /* NAVIGATION BAR */

  .navbar {
    justify-content: end;
  }

  .navbarLeftTitle {
    flex: auto;
  }

  .navbarRightLink {
    display: contents;
  }

  .fa-bars {
    display: none;
  }

  /* HEADER */

  #screen {
    width: 50%;
  }

  .menu {
    width: 85%;
  }

  /* PROJETS */

  .containerBlogs {
    display: grid;
    text-align: center;
    align-content: center;
    align-items: baseline;
    margin: 29px;
    transition: all 0.4s ease-in-out;
    justify-content: center;
  }

  .blog {
    width: 486px;
  }

  .blogtext span {
    margin-top: 13px;
    font-weight: bold;
    font-size: 18px;
  }

}