/* ---------- RESPONSIVE ---------- */

/* Desktop */
@media only screen and (min-width: 1024px) {

  /* HEADER */

  #screen {
    width: 50%;
    max-width: 70%;
  }

  .menu {
    width: 65% !important;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .inner-header {
    width: 100%;
    margin: 0;
    padding: 135px !important;
  }

  .waves {
    height: 18vh !important;
    margin-top: -67px !important;
  }

}

/* Tablets */
@media only screen and (min-width: 768px) {


  /* NAVIGATION BAR */

  .navbar {
    justify-content: end;
  }

  .navbarLeftTitle {
    flex: auto;
  }

  .navbarRightLink {
    display: contents;
  }

  .fa-bars {
    display: none;
  }

  /* HEADER */

  #screen {
    width: 50%;
  }

  .menu {
    width: 85%;
  }

}