/* ---------- RESPONSIVE ---------- */

/* Desktop */
@media only screen and (min-width: 1024px) {

  /* HEADER */

  #screen {
    width: 50%;
    max-width: 70%;
  }

  .menu {
    width: 65% !important;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .inner-header {
    width: 100%;
    margin: 0;
    padding: 135px !important;
  }

  .waves {
    height: 28vh !important;
    margin-top: 2px !important;
  }

  .blog {
    width: 280px !important;
  }

  .containerBlogs {
    margin-top: 5rem !important;
    text-align: center !important;
    align-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 95%;
    align-content: center !important;
    justify-content: center !important;
    align-items: baseline !important;
    margin: 38px !important;
    transition: all 0.4s ease-in-out !important;
    justify-content: center !important;
  }


  /* A PROPOS */

  .aboutTextInfo {
    font-size: 22px;
  }

}

/* Tablets */
@media only screen and (min-width: 768px) {


  /* NAVIGATION BAR */

  .navbar {
    justify-content: end;
  }

  .navbarLeftTitle {
    flex: auto;
  }

  .navbarRightLink {
    display: contents;
  }

  .fa-bars {
    display: none;
  }

  /* HEADER */

  #screen {
    width: 50%;
  }

  .menu {
    width: 85%;
  }

  /* PROJETS */

  .containerBlogs {
    display: grid;
    text-align: center;
    align-content: center;
    align-items: baseline;
    margin: 29px;
    transition: all 0.4s ease-in-out;
    justify-content: center;
  }

  .blog {
    width: 486px;
  }

  .blogtext span {
    margin-top: 13px;
    font-weight: bold;
    font-size: 18px;
  }

  /* A PROPOS */

  .aboutTextInfo {
    font-size: 22px;
  }

  /* ALL PROJECTS */

  .presentationText {
    margin-top: 56px !important;
    display: flex;
    text-align: center;
    width: 85%;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }

  .aboutmelogicielutilise {
    margin-bottom: 100px;
    margin-top: 100px;
    position: relative;
  }

  .presentationContainer {
    margin-top: 40px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .aboutButton {
    display: flex;
    flex-direction: row;
    margin: 161px;
    margin-top: 10px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
  }

  .blogimgprojets img {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    display: block;
    width: 50%;
    position: relative;
    background: #fff;
    overflow: hidden;
  }

  .blogimgprojetsSoftware {
    display: flex;
    transition: 0.3s;
    animation: cubic-bezier(0, 0.01, 1, 0.99) infinite alternate;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.presentationTextSoft {
  margin-top: 67px !important;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  position: relative;
  width: 85%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

}