* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: #191d2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
  display: inline-table;
}

html {
  scroll-behavior: smooth;
}

/* NAVIGATION BAR */

.navbar {
  background-color: #262c42;
  border-bottom: solid;
  border-color: #191d2b8a;
  border-width: 4px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1000;
  /* width: fit-content; */
}

.navbar a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding: 14px 16px;
}

.navbar a:hover {
  background-color: #191d2b54;
  color: #ffffff78;
}

.navbar a.active {
  background-color: #151a28;
  color: white;
  border-style: solid;
  border-width: 2;
  border-color: black;
}

.navbarRightLink {
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: none;
  cursor: pointer;
}

.navbarRightLink a {
  flex-shrink: 0;
}

.navbarLeftTitle {
  color: white !important;
}

.fa-solid {
  padding: 14px 16px;
  color: white;
  cursor: pointer;
}

.toggled {
  overflow: hidden;
  flex-basis: 100%;
  flex-grow: 1;
  text-align: right;
  display: flex !important;
  flex-direction: column;
  gap: 0.5rem;
}

/* HEADER */

.menu {
  background-color: rgba(0, 0, 0, 0.29);
  text-shadow: -5px -2px 20px #ffffff85;
  display: flex;
  height: 100%;
  place-items: center;
  flex-direction: column;
  place-content: center;
  padding-bottom: 34px;
  padding-top: 18px;
  margin-bottom: 40px;
  margin-top: 25px;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.animate-bgImage {
  background-image: linear-gradient(#000000, #0a08081f, transparent), url(../../assets/img/bg.jpg);
  background-position: left;
  background-size: cover;
  animation: animatedBackground 10s linear infinite alternate;
}

@keyframes animatedBackground {
  0% {
    background-size: 110% 110%;
  }

  100% {
    background-size: 100% 100%;
  }
}

#head {
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  margin: auto;
  padding: 80px;
  font-size: 40px;
  text-align: center;
  border-bottom: 12px solid rgb(58 43 85 / 27%);
  display: flex;
  min-height: 440px;
  align-items: center;
  justify-content: center;
}

#bar {
  text-align: center;
  width: 100%;
  height: 25px;
  background-color: #DAD9D9;
  margin: 0 auto;
  font-family: monospace;
  padding: auto;
  float: none;
  border-radius: 5px;
}

#screen {
  background-color: #33485E;
  inline-size: fit-content;
  max-width: fit-content;
  border-radius: 2%;
  padding: 1px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 150px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff1c;
}

.hide {
  opacity: 50%;
  transition: all 1s ease 0s;
}

.show {
  opacity: 100%;
  transition: all 1s ease 0s;
}

.font {
  color: #fff;
  font-family: monospace;
  font-size: 18px;
  text-align: left;
  position: static;
}

.headerTextBar {
  border-bottom-style: solid;
  width: 297px;
  padding-top: 18px;
  border-color: white;
}

.headerTextBarBottom {
  margin-top: 2%;
  height: 24px;
  opacity: 75%;
  max-width: 83%;
}

/* PRESENTATION */

.presentation {
  /* margin-top: 150px; */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.presentation-animate-bgImage {
  background-image: linear-gradient(#000000, #0a08081f, transparent), url(../../assets/img/presentation.jpg);
  background-size: cover;
  animation: animatedBackground 10s linear infinite alternate;
}

#bar {
  user-select: none;
}

#screen {
  border-color: #ffffff57;
  border-style: solid;
}

.textTitle {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

/* PROJETS */

.projets {
  background-color: #131812;
  margin-top: -12px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.containerBlogs {
  margin-top: 100px !important;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 100px;
  transition: all 0.4s ease-in-out;
  animation: animatedBackground 10s linear infinite alternate;
}

.blog {
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  transition: all 1s ease-in-out;
  width: 423px;
  border-style: solid;
  background-color: #192843;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #ffffff2b;
}

.blogtext {
  border-top: #233453;
  border-top-style: solid;
  border-width: 3px;
  border-bottom: 42px solid var(--borderColor);
  text-align-last: center;
  display: flex;
  background-color: #ffffff08;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align-last: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.blogtext span {
  margin-top: 13px;
  font-weight: bold;
  cursor: pointer;
}

.blogtext p {
  text-align: center;
  margin: 1%;
  color: #ffffff9e;
  line-height: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.blogtext p {
  font-size: 17px !important; 
  color: #ffffff5c !important;
}

.blogtextTiny {
  font-size: 17px !important; 
  color: #ffffff5c !important;
}

.blogimg img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.4s ease-in-out;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: block;
  width: 100%;
  position: relative;
  background: #fff;
  overflow: hidden;
  transition: 0.3s;
}

.blog:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
  transition: 0.3s;
}

.blogimg img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.projets-animate-bgImage {
  background-image: linear-gradient(#0000004a, #0a1730, #161718);
  background-size: cover;
  animation: animatedBackground 10s linear infinite alternate;
}


/* ABOUT */
.about {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.aboutme {
  margin-bottom: 100px;
  position: relative;
}

.aboutinfo {
  display: flex;
  flex-wrap: wrap;
  white-space: break-spaces;
  font-family: monospace;
  flex-direction: row;
  align-items: baseline;
  align-content: center;
  justify-content: space-between;
}

.aboutButton {
  display: flex;
  flex-direction: row;
  margin: 42px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
}

.myINFORMATION {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.fa-brands, .fab{
  font-size: 100;
}

.fa-instagram:hover {
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)!important;
}

.fa-youtube:hover {
  color:#ff0000c4 !important;
}

.aboutButton a {
  border-color: rgb(17, 23, 34);
  background-color: transparent;
  margin: 0px 0.4rem;
  border-style: solid;
  border-width: 13px;
  background-color: #ffffff00;
  border-radius: 100%;
  transition: all 0.4s ease-in-out 0s;
}

.aboutTextInfo {
  font-size: 22px;
}

.aboutButton i {
  font-size: 26px;
  color: white;
  transition: all 0.4s ease-in-out;
}

.aboutButton i:hover {
  font-size: 25;
  color: yellow;
  border-style:dashed;
  border-width: 2px;
  border-radius: inherit;
  border-color: #111722;
  background-color: #111722;
}

.about-animate-bgImage {
  background-image: linear-gradient(#272b32d9, black), url(../../assets/img/about.jpg);
  background-size: cover;
  animation: animatedBackground 10s linear infinite alternate;
}

.aboutContainer {
  margin-top: 100px !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 47px;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
}

.footer-animate-bgImage {
  background-image: linear-gradient(#22262c, #262c42);
  background-size: cover;
  animation: animatedBackground 10s linear infinite alternate;
}

/* BUTTON DOWNLOAD CURRICULUM VITAE */

.buttonCV {
  color: white;
  inline-size: fit-content;
  width: 80%;
  max-width: fit-content;
  border-radius: 10%;
  margin-top: 16rem;
  text-align-last: center;
  cursor: pointer;
  align-self: center;
  transition: all 1s cubic-bezier(0, 1.37, 0.22, 1.04) 0s;
}

.textCV {
  margin: 10;
  margin-top: -31px;
}

#buttonImgCV {
  border-radius: 1rem;
  border-style: solid;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-image: stretch;
  width: 75%;
  display: none;
  transition: all 0.5s ease 0s;
}

#infoCV {
  display: none;
}

/* LABEL PARAMETER */

.unselectableLabel {
  user-select: none !important;
  background-color: unset !important;
  cursor: unset;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(230, 6%, 61%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(240, 6%, 93%);
}