* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: #191d2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
  display: inline-table;
}

html {
  scroll-behavior: smooth;
}

/* NAVIGATION BAR */

.navbar {
  background-color: #262c42;
  border-bottom: solid;
  border-color: #191d2b8a;
  border-width: 4px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1000;
  /* width: fit-content; */
}

.navbar a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding: 14px 16px;
}

.navbar a:hover {
  background-color: #191d2b54;
  color: #ffffff78;
}

.navbar a.active {
  background-color: #151a28;
  color: white;
  border-style: solid;
  border-width: 2;
  border-color: black;
}

.navbarRightLink {
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: none;
  cursor: pointer;
}

.navbarRightLink a {
  flex-shrink: 0;
}

.navbarLeftTitle {
  color: white !important;
}

.fa-solid {
  padding: 14px 16px;
  color: white;
  cursor: pointer;
}

.toggled {
  overflow: hidden;
  flex-basis: 100%;
  flex-grow: 1;
  text-align: right;
  display: flex !important;
  flex-direction: column;
  gap: 0.5rem;
}

/* HEADER */

.menu {
  background-color: rgba(0, 0, 0, 0.29);
  text-shadow: -5px -2px 20px #ffffff85;
  display: flex;
  height: 100%;
  place-items: center;
  flex-direction: column;
  place-content: center;
  padding-bottom: 34px;
  padding-top: 18px;
  margin-bottom: 40px;
  margin-top: 25px;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.bgImage {
  background-image: url(../../assets/img/bg.jpg);
  background-position: center;
}

#head {
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  margin: auto;
  padding: 80px;
  font-size: 40px;
  text-align: center;
  border-bottom: 12px solid rgb(58 43 85 / 27%);
  display: flex;
  min-height: 440px;
  align-items: center;
  justify-content: center;
}

#bar {
  text-align: center;
  width: 100%;
  height: 25px;
  background-color: #DAD9D9;
  margin: 0 auto;
  font-family: monospace;
  padding: auto;
  float: none;
  border-radius: 5px;
}

#screen {
  background-color: #33485E;
  inline-size: fit-content;
  max-width: fit-content;
  border-radius: 2%;
  padding: 1px;
  display: flex;
  flex-direction: column;
  margin:0 auto;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 150px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff1c;
}

.font {
  color: #fff;
  font-family: monospace;
  font-size: 18px;
  text-align: left;
  position: static;
}

.headerTextBar {
  border-bottom-style: solid;
  width: 245px;
  height: 24px;
  border-color: white;
}

.headerTextBarBottom {
  margin-top: 2%;
  height: 24px;
  opacity: 75%;
  max-width: 83%;
}

/* PRESENTATION */

.presentation {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#screen {
  border-color: #ffffff57;
  border-style: solid;
}

.textTitle {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

/* PROJETS */

.projets {
  background-color: #131812;
  margin-top: -12px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}


/* BUTTON DOWNLOAD CURRICULUM VITAE */

.buttonCV {
  color: white;
  background-color: #33485E;
  inline-size: fit-content;
  width: 80%;
  max-width: fit-content;
  border-radius: 10%;
  margin-top: 16rem;
  display: table-footer-group;
  text-align-last: center;
  cursor: pointer;
  align-self: center;
}

.textCV {
  margin: 10;
  margin-top: -31px;
}

#buttonImgCV {
  border-radius: 1rem;
  border-style: solid;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-image: stretch;
  width: 60%;
  display: none;
}

#infoCV {
  display: none;
}

/* LABEL PARAMETER */

.unselectableLabel {
  user-select: none;
  background-color: unset !important;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(230, 6%, 61%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(240, 6%, 93%);
}